<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>课程预约</title>
    <link rel="icon" href="images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../backend/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/box.js"></script>
  </head>

  <body>
    <div id="main" class="app">
      <div class="divHead">
        <title>个人中心</title>
        <img src="./images/user.png" @click="toUserPage"/>
      </div>
      <div class="divTitle">
        <div class="divStatic">
          <title>课程预约</title>
          <img src="./images/logo.png"  class="logo"/>
          <div class="divDesc">
            <div class="divName">课程预约</div>
          </div>
        </div>
        <div class="divDesc">
          简介: 根据课程的科目分类，提供预约课程功能
        </div>
      </div>
      <div class="divBody">

        <div class="divType">
          <ul>
            <li v-for="(item,index) in subjectList" :key="index" @click="subjectClick(index,item.id)" :class="{active:activeType === index}">{{item.name}}</li>
          </ul>
        </div>


        <div class="divMenu">
          <div>
            <div class="divItem" v-for="(item,index) in curriculumList" :key="index" @click="curriculumDetails(item)" >
              <div>
                <div class="divName">{{item.curriculumName}}   {{item.teacherName}}</div>
                <div class="divDesc">{{'已预约:' + (item.stockUsed)}}   {{'剩余可预约:' + (item.stock - item.stockUsed) }}</div>
                <div class="divBottom"><span>￥</span><span>{{item.price}}</span></div>
              </div>
              <button class="reserve-btn" @click="toReserve(item,$event)">预约</button>
            </div>
          </div>
        </div>
      </div>

      <div class="divLayer">
        <div class="divLayerLeft"></div>
        <div class="divLayerRight"></div>
      </div>


      <!-- 查看弹框部分 -->
      <el-dialog
              title="课程详情"
              :visible.sync="detailsDialogVisible"
              width="70%"
              :before-close="handleClose"
      >
        <div class="info-box">
          <div class="item-box">
            <span class="label">课程名称：</span>
            <span class="des">{{ details.curriculumName}}</span>
          </div>
          <div class="item-box">
            <span class="label">教师：</span>
            <span class="des">{{ details.teacherName }}</span>
          </div>
          <div class="item-box">
            <span class="label">开始时间：</span>
            <span class="des">{{ details.beginTime }}</span>
          </div>
          <div class="item-box">
            <span class="label">结束时间：</span>
            <span class="des">{{ details.endTime }}</span>
          </div>
          <div class="item-box">
            <span class="label">已预约人数：</span>
            <span class="des">{{ details.stockUsed }}</span>
          </div>
          <div class="item-box">
            <span class="label">总人数：</span>
            <span class="des">{{ details.stock }}</span>
          </div>
          <div class="item-box">
            <span class="label">价格：</span>
            <span class="des">{{ details.price }}</span>
          </div>
        </div>


      </el-dialog>
    </div>

    <div id="signCorner" style="position: fixed; bottom: 10px; right: 10px; width: 50px; height: 50px; background-color: red; border-radius: 50%; z-index: 999;">
        <a id="signButton" href="/front/page/lottery.html" style="display: block; width: 100%; height: 100%;"></a>
    </div>



    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
      <script src="../backend/plugins/vue/vue.js"></script>
      <!-- 引入组件库 -->
      <script src="../backend/plugins/element-ui/index.js"></script>
      <!-- 引入vant样式 -->
      <script src="./js/vant.min.js"></script>
      <!-- 引入axios -->
      <script src="../backend/plugins/axios/axios.min.js"></script>

      <script src="./js/request.js"></script>
      <script src="./js/common.js"></script>
      <script src="./api/main.js"></script>



  </body>
  <script>
      new Vue({
          el:'#main',
          data(){
            return {
              //左边菜品类别index
              activeType:0,
              subjectList:[],
              subjectId:undefined,
              curriculumList:[],
              detailsDialogVisible:false,
              details:{
                curriculumName:'',
                teacherName:'',
                beginTime:'',
                endTime:'',
                price:1,
                stock:1,
                stockUsed:1,
                info:''
              }
            }
          },
          computed:{
            },

          created(){
            console.log(this.curriculumList)
          },

          mounted(){
            this.initData()
          },
          methods:{
            //初始化数据
            initData(){
              subjectListApi().then(res=>{
                //获取分类数据
                if(res.code === 1){
                  this.subjectList = res.data
                  if(Array.isArray(res.data) && res.data.length > 0){
                    this.subjectId = res.data[0].id
                    // if(res.data[0].type === 1){
                    this.getCurriculumList()
                    // }else{
                    //   this.getSetmealData()
                    // }
                  }
                }else{
                  this.$notify({ type:'warning', message:res.msg});
                }
              })
            },
            //分类点击
            subjectClick(index,id){
              this.activeType = index
              this.subjectId = id
              this.getCurriculumList()
            },
            //获取课程数据
            async getCurriculumList(){
              if(this.subjectId < -1){
                console.log(this.subjectId)
                return
              }
              const res = await curriculumListApi({subjectId:this.subjectId,status:1})
              if(res.code === 1){
                this.curriculumList = res.data
              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            //跳转到去结算界面
            toAddOrderPage(){
              if(this.cartData.length > 0){
                window.requestAnimationFrame(()=>{
                  window.location.href ='/front/page/add-order.html'
                })
              }
            },
            async toReserve(item,event){
              event.stopPropagation();
              const res = await addOrderApi({curriculumId:item.curriculumId})
              if (res.code === 1) {
                alert(res.data)
                // this.$notify({ type:'success', message:res.msg});
              }else {
                alert(res.msg)
                // this.$notify({ type:'warning', message:res.msg});
              }
            },
            toUserPage(){
              window.requestAnimationFrame(()=>{
                window.location.href= '/front/page/user.html'
              })
            },
            async curriculumDetails(item){
              this.details = {}
              this.detailsDialogVisible = true
              const formatTime = (cellValue) => {
                const options = {
                  year: 'numeric',
                  month: '2-digit',
                  day: '2-digit',
                  hour: '2-digit',
                  minute: '2-digit',
                  second: '2-digit',
                  hour12: false
                };
                const date = new Date(cellValue);
                const offset = date.getTimezoneOffset() / 60 + 16;
                date.setHours(date.getHours() - offset);
                return new Intl.DateTimeFormat('zh-CN', options).format(date);
              }
              const newBeginTime = formatTime(item.beginTime);
              const newEndTime = formatTime(item.endTime);
              this.details = {...item,beginTime: newBeginTime,endTime: newEndTime}
            }
          }
      })
  </script>
</html>
