<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>课程预约</title>
    <link rel="icon" href="images/favico.ico">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="../backend/plugins/element-ui/index.css" />
    <!--引入vant样式-->
    <link rel="stylesheet" href="styles/vant.min.css"/>
    <!-- 引入样式  -->
    <link rel="stylesheet" href="styles/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div id="main" class="app">
      <div class="divHead">
        <title>个人中心</title>
        <img src="./images/user.png" @click="toUserPage"/>
      </div>
      <div class="divTitle">
        <div class="divStatic">
          <title>课程预约</title>
          <img src="./images/logo.png"  class="logo"/>
          <div class="divDesc">
            <div class="divName">课程预约</div>

          </div>
        </div>
        <div class="divDesc">
          简介: 根据课程的科目分类，提供预约课程功能
        </div>
      </div>
      <div class="divBody">

        <div class="divType">
          <ul>
            <li v-for="(item,index) in subjectList" :key="index" @click="subjectClick(index,item.id)" :class="{active:activeType === index}">{{item.name}}</li>
          </ul>
        </div>


        <div class="divMenu">
          <div>
            <div class="divItem" v-for="(item,index) in curriculumList" :key="index" @click="curriculumDetails(item)" >
              <div>
                <div class="divName">{{item.curriculumName}}   {{item.teacherName}}</div>
                <div class="divDesc">{{'已预约:' + (item.stockUsed)}}   {{'剩余可预约:' + (item.stock - item.stockUsed) }}</div>
                <div class="divBottom"><span>￥</span><span>{{item.price}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="divLayer">
        <div class="divLayerLeft"></div>
        <div class="divLayerRight"></div>
      </div>

    </div>
    </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../backend/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../backend/plugins/element-ui/index.js"></script>
        <!-- 引入vant样式 -->
        <script src="./js/vant.min.js"></script>
        <!-- 引入axios -->
        <script src="../backend/plugins/axios/axios.min.js"></script>
        <script src="./js/request.js"></script>
        <script src="./js/common.js"></script>
        <script src="./api/main.js"></script>
  </body>
  <script>
      new Vue({
          el:'#main',
          data(){
            return {
              //左边菜品类别index
              activeType:0,
              subjectList:[],
              subjectId:undefined,
              curriculumList:[],
              cartData:[],
              cartDialogShow:false,
              detailsDialog:{
                show:false,
                item:{image:''}
              },
              setMealDialog:{
                show:false,
                item:{}
              },
            }
          },
          computed:{
            },

          created(){
            console.log(this.curriculumList)
          },

          mounted(){
            this.initData()
          },
          methods:{
            //初始化数据
            initData(){
              subjectListApi().then(res=>{
                //获取分类数据
                if(res.code === 1){
                  this.subjectList = res.data
                  if(Array.isArray(res.data) && res.data.length > 0){
                    this.subjectId = res.data[0].id
                    // if(res.data[0].type === 1){
                    this.getCurriculumList()
                    // }else{
                    //   this.getSetmealData()
                    // }
                  }
                }else{
                  this.$notify({ type:'warning', message:res.msg});
                }
              })
            },
            //分类点击
            subjectClick(index,id){
              this.activeType = index
              this.subjectId = id
              this.getCurriculumList()
            },
            //获取菜品数据
            async getCurriculumList(){
              if(this.subjectId < -1){
                console.log(this.subjectId)
                return
              }
              const res = await curriculumListApi({subjectId:this.subjectId,status:1})
              if(res.code === 1){
                this.curriculumList = res.data
              }else{
                this.$notify({ type:'warning', message:res.msg});
              }
            },
            //跳转到去结算界面
            toAddOrderPage(){
              if(this.cartData.length > 0){
                window.requestAnimationFrame(()=>{
                  window.location.href ='/front/page/add-order.html'
                })
              }
            },
            toUserPage(){
              window.requestAnimationFrame(()=>{
                window.location.href= '/front/page/user.html'
              })
            },
            async curriculumDetails(item){
              //先清除对象数据，如果不行的话dialog使用v-if
              this.detailsDialog.item = {}
              this.setMealDialog.item = {}
              if(Array.isArray(item)){
                this.detailsDialog.item = item
                this.detailsDialog.show = true
              }else{
                  alert("Array.isArray(item) is false")
              }

            }

          }
      })
  </script>
</html>
