<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
        <title>课程预约</title>
        <link rel="icon" href="./../images/favico.ico">
        <!--不同屏幕尺寸根字体设置-->
        <script src="./../js/base.js"></script>
        <!--element-ui的样式-->
        <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
        <!-- 引入样式  -->
        <link rel="stylesheet" href="../styles/index.css" />
        <!--引入vant样式-->
        <link rel="stylesheet" href="../styles/vant.min.css"/>
        <!--本页面内容的样式-->
        <link rel="stylesheet" href="./../styles/order.css" />
    </head>
    <body>
        <div id="order" class="app">
            <div class="divHead">
                <div class="divTitle">
                    <i class="el-icon-arrow-left" @click="goBack"></i>历史预约
                </div>
            </div>

            <div class="divBody" v-if="orderList.length > 0">
                <van-list
                    v-model="loading"
                    :finished="finished"
                    finished-text="没有更多了"
                    @load="getList"
                    >
                    <van-cell v-for="(item,index) in orderList" :key="index" class="item" @click="orderDetails(item)">
                        <div class="divName">{{item.curriculumName}}</div>
                        <button class="quit-btn" @click="toQuit(item,$event)">取消预约</button>
                        <div class="divName">{{item.teacherName}}</div>
                    </van-cell>
                </van-list>
            </div>
            <div class="divNoData" v-else>
                <div class="divContainer">
                    <img src="./../images/no_order.png"/>
                    <div>暂无订单</div>
                </div>
            </div>
        </div>

        <!-- 查看弹框部分 -->
        <el-dialog
                title="订单详情"
                :visible.sync="detailsDialogVisible"
                width="70%"
                :before-close="handleClose"
        >
            <div class="info-box">
                <div class="item-box">
                    <span class="label">课程名称：</span>
                    <span class="des">{{ details.curriculumName}}</span>
                </div>
                <div class="item-box">
                    <span class="label">教师：</span>
                    <span class="des">{{ details.teacherName }}</span>
                </div>

                <div class="item-box">
                    <span class="label">已预约人数：</span>
                    <span class="des">{{ details.stockUsed }}</span>
                </div>
                <div class="item-box">
                    <span class="label">总人数：</span>
                    <span class="des">{{ details.stock }}</span>
                </div>
                <div class="item-box">
                    <span class="label">价格：</span>
                    <span class="des">{{ details.price }}</span>
                </div>
            </div>
        </el-dialog>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../../backend/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../../backend/plugins/element-ui/index.js"></script>
        <!-- 引入vant组件 -->
        <script src="./../js/vant.min.js"></script>    
        <!-- 引入axios -->
        <script src="../../backend/plugins/axios/axios.min.js"></script>
        <script src="./../js/request.js"></script>
        <script src="./../api/order.js"></script>
        <script>
        new Vue({
            el:"#order",
            data(){
                return {
                    paging:{
                        page:1,
                        pageSize:5
                    },
                    orderList:[],
                    Details:{
                        beginTime:'',
                        endTime:'',
                        price:1,
                        stock:1,
                        stockUsed:1,
                        info:''
                    },
                    detailsDialogVisible:false,
                    loading:false,
                    finished:false
                }
            },
            computed:{},
            created(){
                this.initData()
            },
            mounted(){},
            methods:{
                goBack(){
                    const url = document.referrer
                    //表示是从订单页面跳转过来的
                    if(url.includes('success')){
                        window.requestAnimationFrame(()=>{
                                window.location.href= '/front/index.html'
                        })   
                    }else{
                        history.go(-1)
                    }
                },
                initData(){
                    this.getList()
                },
                async getList(){
                    if(this.finished){
                        this.loading = false;
                        return
                    }
                    const res = await orderPagingApi(this.paging)
                    if(res.code === 1){
                        this.orderList.push(...res.data.records)
                        this.loading = false;
                        if(res.data.current * res.data.size >= res.data.total){
                            this.finished = true;
                        }
                        this.paging.page = this.paging.page + 1

                    }else{
                        this.$notify({ type:'warning', message:res.msg});
                    }
                },
                async toQuit(item,event){
                    event.stopPropagation();
                    const res = await quitOrderApi({orderId:item.orderId})
                    if (res.code === 1) {
                        alert(res.data)
                        // this.$notify({ type:'success', message:res.msg});
                    }else {
                        alert(res.msg)
                        // this.$notify({ type:'warning', message:res.msg});
                    }
                },
                async orderDetails(item){
                    this.details = {}
                    this.detailsDialogVisible = true
                    const formatTime = (cellValue) => {
                        const options = {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit',
                            hour: '2-digit',
                            minute: '2-digit',
                            second: '2-digit',
                            hour12: false
                        };
                        const date = new Date(cellValue);
                        const offset = date.getTimezoneOffset() / 60 + 16;
                        date.setHours(date.getHours() - offset);
                        return new Intl.DateTimeFormat('zh-CN', options).format(date);
                    }
                    const newDate = formatTime(item.date);
                    this.details = {...item,date:newDate}
                }
            }
        })
        </script>
    </body>
</html>